<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="row">
    <% if current_user %>
     <div class="col-sm-8">
      <h3>Add New Review</h3>
      <%= form_for [@product, @review] do |f| %>
          <div>
           <strong>Rating</strong>
            <%= select_tag(:rating, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]])) %>
          </div>
          <strong>Description</strong> (optional): <%= f.text_field :description %>
          <div><%= f.submit %></div>
      <% end %>
     </div>
     <% end %>


      <div class="col-sm-8">
        <h3>User Reviews</h3>
         <% @reviews.each do |review| %>
            <li>
              <strong>Rating:</strong> <%= review.rating %>/5
              <div style="padding-left: 1.3em"><%= review.description %></div>
            </li>
            <br>
         <% end %>
      </div>
    </div>

  </article>

</section>
